body{
    width: auto;
}

h1{
    border: red solid 1px;
    text-align: center;
}

h1 a{
    display: block;
    text-decoration: none;
    color: rgb(167, 142, 110);
}

.menuDec{
    width: 100%;
    background: rgb(233, 178, 76);
}

.menu{
    width: 350px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
}

.menu li{
    list-style: none;
    float: left;
    width: 33.3%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgb(233, 178, 76);
}

.menu li a{
    text-decoration: none;
    color: black;
    display: block;
}

.menu li a:hover{
    background: rgb(163, 107, 34);
    color: white;
}

@media (max-width: 768px) {

}